<div class="container">

    <div class="text-center">
        <h1>Select Application</h1>
    </div>

     <form class="form-horizontal" action="select_app/{{this._id}}" method="get">

                        <textarea>Application</textarea>
                       -  <select class="selectpicker" id="application" name="application">
                        <option value="None">(Select Name)</option>
                        <option value="ABS Data Warehouse">ABS Data Warehouse</option>
                        <option value="DSC">DSC</option>
                        <option value="SAART">SAART</option>
                          </select> 
                
                
                    <button type="submit" class="btn bg-danger btn-primary-spacing">Submit</button>            
                

                </div>
            </div>
</div>

